<div class="background text-center">
    <div id="main">

        <nav>
            <a routerLink="/calculation">Aleatorio</a>
            <a routerLink="/procedure" class="active">Rango</a>
            <a (click)="logOff()">Cerrar sesion</a>

        </nav>


    </div>
    <form class="form-signin animated fadeIn" autocomplete="off" [formGroup]="Form">

        <div class="row">




            <div class="col-12 col-lg-12 ">
                <label for="inputSalary ">Salario</label>
                <input type="number" class="form-control" min="1" max="999999999999999999999" id="inputSalary" formControlName="salary" [class.is-invalid]="salaryValidate" />
            </div>


        </div>
        <div class="space"></div>

        <div class="row">
            <div class="col-12 col-md-12">
                <button type="submit " id="btn1 " class="btn btn-lg btn-primary btn-block mb-2" (click)="open()">
            Solicitar
            </button>


            </div>



        </div>
        <div class="space"></div>

        <div class="row">

            <div class="col-12 col-lg-4 padd ">
                <label for="inputName ">Rango A</label>
                <input type="text " class="form-control" id="inputFullna" formControlName="A0" readonly="readonly" />
                <br>
                <input type="text " class="form-control" id="inputEmail" formControlName="A1" readonly="readonly" />
            </div>

            <div class="col-12 col-lg-4 padd ">
                <label for="inputName ">Rango B</label>
                <input type="text " class="form-control" id="inputFullna" formControlName="B0" readonly="readonly" />
                <br>
                <input type="text " class="form-control" id="inputEmail" formControlName="B1" readonly="readonly" />
            </div>

            <div class="col-12 col-lg-4 padd ">
                <label for="inputName ">Rango C</label>
                <input type="text " class="form-control" id="inputFullna" formControlName="C0" readonly="readonly" />
                <br>
                <input type="text " class="form-control" id="inputEmail" formControlName="C1" readonly="readonly" />
            </div>
            <div class="space"></div>
            <div class="col-12 col-lg-4 padd ">
                <label for="inputName ">La Opcion Correcta es la :</label>
            </div>
            <div class="col-12 col-lg-8 padd ">
                <input type="text " class="form-control" id="inputFullna" formControlName="op" readonly="readonly" />

            </div>

        </div>




    </form>

</div>