.background {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.img {
    width: 150px;
}

.form-signin {
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.form-signin .form-control {
    height: 45px;
}

.space {
    padding: 2%;
}

body {
    font: 15px/1.3 'Open Sans', sans-serif;
    text-align: center;
}

a,
a:visited {
    outline: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

section,
footer,
header,
aside,
nav {
    display: block;
}


/*-------------------------
 The menu
--------------------------*/

nav {
    display: inline-block;
    background-color: #0275d8;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 2px;
}

nav a {
    display: inline-block;
    padding: 18px 30px;
    color: #fff !important;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none !important;
    line-height: 1;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

nav a:first-child {
    border-radius: 2px 0 0 2px;
}

nav a:last-child {
    border-radius: 0 2px 2px 0;
}

nav.home .home,
nav.projects .projects,
nav.services .services,
nav.contact .contact {
    background-color: #e35885;
}

nav .active {
    background-color: #95ccfc;
}