<div class="background text-center">
    <form class="form-signin animated fadeIn" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">


        <h1 class="h3 mb-3 font-weight-normal">Ingresar</h1>
        <label class="sr-only" for="inputEmail">Correo Electrónico</label>
        <input type="email" class="form-control mb-2" id="inputEmail" placeholder="Correo Electrónico" formControlName="email" [class.is-invalid]="emailValidate" />
        <label class="sr-only" for="inputPassword">Contraseña</label>
        <input type="password" class="form-control mb-3" id="inputPassword" placeholder="Contraseña" formControlName="password" [class.is-invalid]="passwordValidate" />
        <button type="submit" class="btn btn-lg btn-primary btn-block mb-2">
        Ingresar
      </button>
        <div>
            <a [routerLink]="['/register']">¿No tienes cuenta aún?</a>
        </div>

    </form>
</div>