<div class="background text-center">
    <form class="form-signin animated fadeIn" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">


        <h1 class="h3 mb-3 font-weight-normal">Registrate!</h1>
        <div class="space"></div>

        <h1 class="h3 mb-3 font-weight-normal">DATOS PERSONALES</h1>
        <div class="space"></div>
        <div class="row">

            <div class="col-12 col-lg-4">
                <label for="inputName">Nombre Completo</label>
                <input type="text" class="form-control " id="inputName" placeholder="Nombre Completo" formControlName="name" [class.is-invalid]="nameValidate" />
            </div>

            <div class="col-12 col-lg-4">
                <label for="inputId">Identificación</label>
                <input type="number" class="form-control" id="inputId" placeholder="Número de identificación" formControlName="id" [class.is-invalid]="idValidate" />
            </div>



            <div class="col-12 col-lg-4">

                <label for="inputCellphone">Número de Celular</label>
                <input type="number" class="form-control" id="inputCellphone" placeholder="Número de celular" formControlName="cellphone" [class.is-invalid]="cellValidate" />

            </div>
        </div>


        <div class="row">

            <div class="col-12 col-lg-4">

                <label for="inputEmail">Correo Electrónico</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Correo electrónico" formControlName="email" [class.is-invalid]="emailValidate" />
            </div>
            <div class="col-12 col-lg-4">
                <label for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña" formControlName="password" [class.is-invalid]="passwordValidate" />
            </div>
            <div class="col-12 col-lg-4">
                <label for="inputPassword2">Confirmar contraseña</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Confirmar contraseña" formControlName="password2" [class.is-invalid]="password2Validate" />

            </div>


        </div>
        <div class="space"></div>
        <h1 class="h3 mb-3 font-weight-normal space">DATOS DE RESIDENCIA</h1>



        <div class="row">


            <div class="col-12 col-lg-6">
                <label class="sr-only" for="inputDepartament">Departamento</label>
                <input type="text" class="form-control mb-2" id="inputDepartment" placeholder="Departamento" formControlName="department" [class.is-invalid]="departmentValidate" />
            </div>
            <div class="col-12 col-lg-6">
                <label class="sr-only" for="inputCity">Ciudad</label>
                <input type="text" class="form-control mb-2" id="inputCity" placeholder="Ciudad" formControlName="city" [class.is-invalid]="cityValidate" />
            </div>
            <div class="col-12 col-lg-6">
                <label class="sr-only" for="inputNeighborhood">Barrio</label>
                <input type="text" class="form-control mb-2" id="inputNeighborhood" placeholder="Barrio" formControlName="neighborhood" [class.is-invalid]="neighborhoodValidate" />
            </div>
            <div class="col-12 col-lg-6">
                <label class="sr-only" for="inputAddress">Dirección de residencia</label>
                <input type="text" class="form-control mb-2" id="inputAddress" placeholder="Dirección" formControlName="address" [class.is-invalid]="addressValidate" />

            </div>

        </div>

        <div class="space"></div>
        <h1 class="h3 mb-3 font-weight-normal space">DATOS FINANCIEROS</h1>


        <div class="row">


            <div class="col-12 col-lg-6">

                <label for="inputSalary">Salario</label>
                <input type="number" class="form-control " id="inputSalary" placeholder="Salario" formControlName="salary" [class.is-invalid]="salaryValidate" />

            </div>
            <div class="col-12 col-lg-6">

                <label for="inputOther_income">Otros ingresos</label>
                <input type="number" class="form-control " id="inputOther_income" placeholder="Otros ingresos" formControlName="other_income" [class.is-invalid]="other_incomeValidate" />

            </div>
            <div class="col-12 col-lg-6">
                <label for="inputMonthly_expenses">Gastos mensuales</label>
                <input type="number" class="form-control" id="inputMonthly_expenses" placeholder="Gastos mensuales" formControlName="monthly_expenses" [class.is-invalid]="monthly_expensesValidate" />

            </div>
            <div class="col-12 col-lg-6">

                <label for="inputFinancial_expenses">Gastos financieros</label>
                <input type="number" class="form-control" id="inputFinancial_expenses" placeholder="Gastos financieros" formControlName="financial_expenses" [class.is-invalid]="financial_expensesValidate" />


            </div>
        </div>


        <div class="space"></div>



        <button type="submit" class="btn btn-lg btn-primary btn-block mb-2">
  Registrarse
</button>




        <a class="nav-link" routerLink="/login">¿Ya tienes una cuenta?</a>




    </form>
</div>