.background {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.img {
    width: 150px;
}

.form-signin {
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.form-signin .form-control {
    height: 45px;
}

.space {
    padding: 2%;
}